*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 25px;
}
nav ul li a{
    text-decoration: none;
    margin-left: 35px;
    color: #EEEEEE;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 30px;
}
nav{
    background-color: #222831;
}
nav ul{
    text-align: center;
}
nav ul li a:hover{
    background-color:crimson;
    color:#DCD7C9;
    transition: 1.5s;
    padding: 12px;
}
.section1{
    width: 100%;

}
.section1 .container{
    width: 70%;
    margin-left: 10%;
    padding: 5%;
    overflow: hidden;
}